.app {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  width: 30rem;
  height: 30rem;
  border-width: 1px;
  border-style: solid;
}

@media (max-width: 600px) {
  .container {
    width: 25rem;
    height: 25rem;
  }
}

@media (max-width: 400px) {
  .container {
    width: 20rem;
    height: 20rem;
  }
}
